# Kafka consumer (tourne en local, hors Docker)
kafka-python==2.0.2
psycopg2-binary==2.9.9

# Ingestion (dans Docker, utile si on veut lancer fetch_spotify.py à la main)
spotipy==2.24.0

# Dashboard (dans Docker)
streamlit==1.35.0
plotly==5.22.0
pandas==2.2.2
